:root {
  --color1: #5D7CA6;
  --color2: #023059;
  --color3: #023059;
  --color4: #F7DFCA;
  --color5: #59362E;
}

h5, h4, h3, h2, h1, p, a {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color4);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  position: sticky;
  top: 0px;
  background-color: #f7dfcac9;
  backdrop-filter: blur(20px);
}

.logo {
  height: 90px;
}

.logo img {
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

nav a:hover {
  background-color: #59362E;
  color: white;

}

.header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.img-section, .title-section {
  flex: 1 1 0px;
  width: 0;
}

.header h2 {
  font-size: 3em;
}

.header p {
  font-size: 2em;
}

.img-section {
  padding: 40px 80px 40px 40px;
}

.img-section img {
  width: 100%;
}

.title-section {
  padding: 40px 80px 40px 40px;
}
#myHeader{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}
.title{
  font-family: Georgia;
}
.content{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.image-and-text-container:first-child img {
  max-width: 45%;
  
}
.image-and-text-container:first-child .text h3 {
font-family: Georgia, 'Times New Roman', Times, serif ;
padding: 100px;
margin: 0;
line-height: 0.1;

}
.image-and-text-container:first-child .text p {
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
padding: 100px;
margin: 0;

}
.image-and-text-container {
  display: flex;
  flex-wrap: nowrap; 
  
}
.image-and-text{
  display: flex;
  flex-direction: row; /* Place image and text in a row layout */
  align-items: center;  /* Vertically center image and text */
  max-width: 45%; /* Limit the width of each image-and-text container */
  padding: 5px; /* Add spacing between the pairs */
}
.image-and-text img {
  max-width: 100%; 
}
.image-and-text .text {
  flex: 1;
  padding: 10px; /* Add spacing between the image and text */
  font-family: 'Times New Roman', Times, serif;
  
}

.image-and-text .text h3 { /*title*/
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 100px;
  
}

.image-and-text .text p {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 40px; 
  white-space: nowrap;
  
}